@use 'hero';
@use 'shows';
@import 'mixins';
@import 'variaveis';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: $corDeFundo;
    font-family: Avenir, sans-serif;
}
